.container{
    background-color: bisque;
    height: 80px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    flex: 1;
    background-color: beige;
}

.menu{
    flex: 2;
    background-color: blueviolet;
}

.right{
    flex: 1;
    background-color: brown;
}

.cartBag{
    background-color: rgb(54, 36, 213);
    width: 35px;
    height: 35px;
    border-radius: 50%;

}